<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.quiz">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.Quiz"
            android:icon="@drawable/logo"
            tools:targetApi="31">

        <activity
                android:name=".Chargement"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MenuDuJeu" />

        <activity android:name=".MenuStatistique" />
        <activity android:name=".MenuSauvegarde" />
        <activity android:name=".MenuParametre" />

        <activity android:name=".SelectionMode" />
        <activity android:name=".SelectionQuiz" />
        <activity android:name=".SelectionMode2" />

        <activity android:name=".GameQuiz" />
        <activity android:name=".PalierActivity" />
        <activity android:name=".MenuQuiz" />
        <activity android:name=".CreationQuiz" />



    </application>

</manifest>
